{{#if banners.bottom}}
    <div class="banners" data-banner-location="bottom">
        {{#each (limit banners.bottom_metadata 1)}}
            <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                <div data-event-type="promotion-click">
                    {{{this.content}}}
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}

{{#unless page_type '==' 'default'}}
    {{> components/custom/homepage/banner-button-text}}
{{/unless}}

{{#if page_type '==' "page"}}
    {{> components/custom/homepage/home-testimonial}}
    {{{region name="home_below_testimonial"}}}
{{/if}}

<footer class="footer" role="contentinfo">
    <h2 class="footer-title-sr-only">{{lang 'footer.title'}}</h2>
    <div class="container container-1684">
        <section class="footer-info">
            <article class="footer-info-col custom-animation" data-section-type="newsletterSubscription" data-step-animate="1">
                {{#if settings.show_newsletter_box}}
                    {{> components/common/subscription-form}}
                {{/if}}
                {{> components/common/payment-icons}}
            </article>

            <article class="footer-info-col custom-animation footer-info-col--small" data-section-type="footer-categories" data-step-animate="2">
                <h3 class="footer-info-heading">
                    {{lang 'footer.categories'}}

                    <i class="iconMore-action-menu">
                        <span class="custom-plus-icon"></span>
                   </i>
                </h3>
                <ul class="footer-info-list">
                    {{#each categories}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                </ul>
            </article>

            <article class="footer-info-col custom-animation footer-info-col--small" data-section-type="footer-brands" data-step-animate="3">
                <h3 class="footer-info-heading">
                    {{lang 'footer.customer_service'}}

                    <i class="iconMore-action-menu">
                        <span class="custom-plus-icon"></span>
                   </i>
                </h3>
                <ul class="footer-info-list">
                    <li>
                        <a href="{{theme_settings.footer_column_2_link1}}">{{theme_settings.footer_column_2_text1}}</a>
                    </li>
                    <li>
                        <a href="{{theme_settings.footer_column_2_link2}}">{{theme_settings.footer_column_2_text2}}</a>
                    </li>
                    <li>
                        <a href="{{theme_settings.footer_column_2_link3}}">{{theme_settings.footer_column_2_text3}}</a>
                    </li>
                    <li>
                        <a href="{{theme_settings.footer_column_2_link4}}">{{theme_settings.footer_column_2_text4}}</a>
                    </li>
                    <li>
                        <a href="{{theme_settings.footer_column_2_link5}}">{{theme_settings.footer_column_2_text5}}</a>
                    </li>
                    <li>
                        <a href="{{theme_settings.footer_column_2_link6}}">{{theme_settings.footer_column_2_text6}}</a>
                    </li>
                </ul>
            </article>

            <article class="footer-info-col custom-animation footer-info-col--small" data-section-type="footer-webPages" data-step-animate="4">
                <h3 class="footer-info-heading">
                    {{lang 'footer.navigate'}}

                    <i class="iconMore-action-menu">
                        <span class="custom-plus-icon"></span>
                   </i>
                </h3>
                <ul class="footer-info-list">
                    {{#each pages}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                    <li>
                        <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                    </li>
                </ul>
            </article>

            {{#if settings.address}}
            <article class="footer-info-col custom-animation footer-info-col--small footer-info-col--contact" data-section-type="storeInfo" data-step-animate="5">
                <h3 class="footer-info-heading">{{lang 'footer.info'}}</h3>
                <address>{{nl2br settings.address}}</address>
                {{#if settings.phone_number}}
                    <a href="tel:+{{settings.phone_number}}">{{settings.phone_number}}</a>
                {{/if}}

                <a href="mailto:{{theme_settings.footer-contact-email}}" class="footer-contact-email">{{theme_settings.footer-contact-email}}</a>

                <div class="footer-socials">
                    {{> components/common/social-links}}
                </div>

                <!-- Image Intro On Mobile -->
                <img class="custom-footer-intro-image" src="https://cdn11.bigcommerce.com/s-gr2r925k9d/images/stencil/original/image-manager/footer-intro-image.png" alt="Fotter Intro Image">

            </article>
            {{/if}}
        </section>
    </div>

    <div class="footer-copy-right-section bg-black custom-animation" data-step-animate="6">
        <div class="container container-1684">
            {{#if theme_settings.show_copyright_footer}}
                <div class="footer-copyright flex-between">
                    <p class="powered-by">&copy; {{moment format="YYYY"}} TYGRIS | {{lang 'footer.powered_by'}} <a href="https://www.bigcommerce.com?utm_source=merchant&amp;utm_medium=poweredbyBC" rel="nofollow">bspoq</a></p>

                    <div class="footer-copy-right-image">
                        <img src="https://cdn11.bigcommerce.com/s-gr2r925k9d/images/stencil/original/image-manager/footer-visa-payment.png" alt="Visa Image">
                        <img src="https://cdn11.bigcommerce.com/s-gr2r925k9d/images/stencil/original/image-manager/footer-paypal-payment.png" alt="Paypal Image">
                        <img src="https://cdn11.bigcommerce.com/s-gr2r925k9d/images/stencil/original/image-manager/footer-master-card-payment.png" alt="Master Card Image">
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
    {{{region name="ssl_site_seal--global"}}}
</footer>
