{{#if children}}
<a class="navPages-action has-subMenu{{#if is_active}} activePage{{/if}} sr-animate-header"
    href="{{url}}"
    data-collapsible="navPages-{{id}}"
    data-sr-delay="{{multiply @index 100}}"
    data-sr-origin="top"
>
    {{name}}
   <i class="iconMore-action-menu">
        <span class="custom-plus-icon"></span>
   </i>
</a>
<div class="navPage-subMenu" id="navPages-{{id}}" aria-hidden="true" tabindex="-1">
    <ul class="navPage-subMenu-list">
        <li class="navPage-subMenu-item navPage-subMenu-item--all">
            <a class="navPage-subMenu-action navPages-action"
                href="{{url}}"
                aria-label="{{lang 'category.view_all.name' category=name}}"
            >
                {{lang 'category.view_all.name' category=name}}
            </a>
        </li>
        {{#each children}}
            <li class="navPage-subMenu-item{{#unless children}} no-subCategory{{/unless}}">
                <!-- Menu Item Image -->
                <span class="navPage-subMenu-image">
                    {{#if image}}
                        <img class="lazyload" src="{{cdn 'img/loading.svg'}}" data-src="{{getImage image '298x298'}}" alt="{{name}}">
                    {{/if}}
                </span>

                {{#if children}}
                    <a class="navPage-subMenu-action navPages-action has-subMenu{{#if is_active}} activePage{{/if}}"
                        href="{{url}}"
                        aria-label="{{name}}"
                    >
                        {{name}}
                        <span class="collapsible-icon-wrapper"
                            data-collapsible="navPages-{{id}}"
                            data-collapsible-disabled-breakpoint="medium"
                            data-collapsible-disabled-state="open"
                            data-collapsible-enabled-state="closed"
                        >
                            <i class="iconMore-action-menu">
                                <span class="custom-plus-icon"></span>
                            </i>
                        </span>
                    </a>
                    <ul class="navPage-childList" id="navPages-{{id}}">
                        {{#each children}}
                        <li class="navPage-childList-item">
                            <a class="navPage-childList-action navPages-action{{#if is_active}} activePage{{/if}}"
                                href="{{url}}"
                                aria-label="{{name}}"
                            >
                                {{name}}
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                {{else}}
                    <a class="navPage-subMenu-action navPages-action{{#if is_active}} activePage{{/if}}"
                        href="{{url}}"
                        aria-label="{{name}}"
                    >
                        {{name}}
                    </a>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>
{{else}}
<a class="navPages-action{{#if is_active}} activePage{{/if}} sr-animate-header"
    href="{{url}}"
    aria-label="{{name}}"
    data-sr-delay="{{multiply @index 100}}"
    data-sr-origin="top"
>
    {{name}}
</a>
{{/if}}
