<nav class="navUser">
    {{#or customer (unless settings.hide_price_from_guests)}}
        {{> components/common/currency-selector}}
    {{/or}}

    <ul class="navUser-section navUser-section--alt">
        {{#if customer.store_credit.value '>' 0}}
            <li class="navUser-item">
                <a class="navUser-action navUser-action--storeCredit"
                   data-dropdown="storeCredit-dropdown"
                   data-options="align:bottom"
                   href="{{urls.cart}}"
                   aria-label="{{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}"
                >
                    <span class="navUser-action-divider">
                        {{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}
                    </span>
                </a>
                <div class="dropdown-menu" id="storeCredit-dropdown" data-dropdown-content aria-hidden="true">
                    {{{lang 'common.store_credit' store_credit=customer.store_credit.formatted}}}
                </div>
            </li>
        {{/if}}
        <li class="navUser-item">
            <a class="navUser-action navUser-item--compare"
               href="{{urls.compare}}"
               data-compare-nav
               aria-label="{{lang 'common.compare'}}"
            >
                {{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span>
            </a>
        </li>

        <!-- Quote -->
        <li class="navUser-item navUser-item--quote" id="my-quote-entry-custom">
            <div class="header-top__icon">
                <svg xmlns="http://www.w3.org/2000/svg" id="quote" width="13.333" height="15" viewBox="0 0 13.333 15">
                    <path id="Path_84" data-name="Path 84" d="M9.167,10.833h2.154L9.167,12.988Zm-7.5-9.167h10v7.5H7.5v4.167H1.667ZM0,0V15H9.512l3.822-3.821V0Z" fill="#ff5100"/>
                    <rect id="Rectangle_10" data-name="Rectangle 10" width="8" height="2" transform="translate(2.667 3.25)" fill="#ff5100"/>
                    <rect id="Rectangle_11" data-name="Rectangle 11" width="8" height="2" transform="translate(2.667 6.5)" fill="#ff5100"/>
                    <rect id="Rectangle_12" data-name="Rectangle 12" width="3" height="2" transform="translate(3.18 9.75)" fill="#ff5100"/>
                </svg>
            </div>
            <a class="navUser-action c00225 header-top__link flex-align-center navUser-item custom-animation" data-step-animate="3" href="javascript:void(0);" data-click="renderForm">My Quote<span class="quote-quantity countPill countPill--positive">0</span></a>
        </li>

        <!-- Cart -->
        <li class="navUser-item navUser-item--cart header-top__link custom-animation" data-step-animate="4">
            <div class="header-top__icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Group_147" data-name="Group 147" width="14.468" height="15" viewBox="0 0 14.468 15">
                    <defs>
                      <clipPath id="clip-path">
                        <rect id="Rectangle_9" data-name="Rectangle 9" width="14.468" height="15" fill="#ff5100"/>
                      </clipPath>
                    </defs>
                    <g id="Group_146" data-name="Group 146" clip-path="url(#clip-path)">
                      <path id="Path_83" data-name="Path 83" d="M11.053,10.263h-6.8l.264-.789h7.921l2.031-7.105H2.877L2.166,0H0V1.579H.992L3.119,8.672,2.56,10.349a2.385,2.385,0,1,0,2.821,1.493H8.829a2.342,2.342,0,0,0-.145.789,2.368,2.368,0,1,0,2.368-2.368m1.322-6.316L11.247,7.895H4.535L3.351,3.947ZM3.947,12.632a.789.789,0,1,1-.789-.789.79.79,0,0,1,.789.789m7.105.789a.789.789,0,1,1,.789-.789.79.79,0,0,1-.789.789" fill="#ff5100"/>
                    </g>
                </svg>
            </div>
            <a class="navUser-action header-top__text"
               data-cart-preview
               data-dropdown="cart-preview-dropdown"
               data-options="align:right"
               href="{{urls.cart}}"
               aria-label="{{lang 'cart.nav_aria_label'}}"
               >
                <span class="navUser-item-cartLabel">{{lang 'common.cart'}}</span>
                <span class="countPill cart-quantity"></span>
            </a>

            <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true"></div>
        </li>

        <!-- Wish List -->
        <a href="/wishlist.php" class="header-top__link navUser-item  flex-align-center custom-animation" data-step-animate="5">
            <div class="header-top__icon">
                <img src="https://cdn11.bigcommerce.com/s-gr2r925k9d/images/stencil/original/image-manager/heart.png" alt="Wish List Icon">
            </div>
            <span class="header-top__text">
                Wish List
            </span>
        </a>

        {{#if theme_settings.social_icon_placement_top}}
            <li class="navUser-item navUser-item--social">
                {{> components/common/social-links}}
            </li>
            <li class="navUser-item navUser-item--divider">|</li>
        {{/if}}
        
        {{#if settings.gift_certificates_enabled}}
            <li class="navUser-item">
                <a class="navUser-action header-top__text"
                    href="{{urls.gift_certificate.purchase}}"
                    aria-label="{{lang 'common.gift_cert'}}"
                >
                    {{lang 'common.gift_cert'}}
                </a>
            </li>
        {{/if}}

        <!-- Acount -->
        <li class="navUser-item navUser-item--account header-top__link custom-animation" data-step-animate="6">
            <div class="header-top__icon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="11.053" height="15" viewBox="0 0 11.053 15">
                    <defs>
                    <clipPath id="clip-path">
                        <rect id="Rectangle_6" data-name="Rectangle 6" width="11.053" height="15" fill="#ff5100"/>
                    </clipPath>
                    </defs>
                    <g id="Group_142" data-name="Group 142" transform="translate(-20)">
                        <g id="Group_139" data-name="Group 139" transform="translate(20)" clip-path="url(#clip-path)">
                        <path id="Path_80" data-name="Path 80" d="M7.105,11H3.947A3.952,3.952,0,0,0,0,14.947v2.368H11.053V14.947A3.952,3.952,0,0,0,7.105,11m2.368,4.737H1.579v-.789a2.371,2.371,0,0,1,2.368-2.368H7.105a2.371,2.371,0,0,1,2.368,2.368Z" transform="translate(0 -2.316)" fill="#ff5100"/>
                        <path id="Path_81" data-name="Path 81" d="M5.947,7.895A3.947,3.947,0,1,0,2,3.947,3.952,3.952,0,0,0,5.947,7.895m0-6.316A2.368,2.368,0,1,1,3.579,3.947,2.371,2.371,0,0,1,5.947,1.579" transform="translate(-0.421)" fill="#ff5100"/>
                        </g>
                    </g>
                </svg>
            </div>
            {{#if customer}}
                <a class="navUser-action header-top__text"
                   href="{{urls.account.index}}"
                   aria-label="{{lang 'common.account'}}"
                >
                    {{lang 'common.account'}}
                </a>
                <a class="navUser-action header-top__text"
                   href="{{urls.auth.logout}}"
                   aria-label="{{lang 'common.logout'}}"
                >
                    {{lang 'common.logout'}}
                </a>
            {{else}}
                <a class="navUser-action header-top__text"
                   href="{{urls.auth.login}}"
                   aria-label="{{lang 'common.login'}}"
                >
                    {{lang 'common.login'}}
                </a>
                {{#if settings.account_creation_enabled}}
                    <span class="navUser-or header-top__text">{{lang 'common.or'}}</span>
                    <a class="navUser-action header-top__text"
                       href="{{urls.auth.create_account}}"
                       aria-label="{{lang 'common.sign_up'}}"
                    >
                        {{lang 'common.sign_up'}}
                    </a>
                {{/if}}
            {{/if}}
        </li>

        <!-- Search -->
        <li class="navUser-item header-top__link custom-animation" data-step-animate="7">
            <button class="navUser-action navUser-action--quickSearch"
               type="button"
               id="quick-search-expand"
               data-search="quickSearch"
               aria-controls="quickSearch"
               aria-label="{{lang 'common.search'}}"
            >
                <div class="header-top__icon">
                    <img src="https://cdn11.bigcommerce.com/s-gr2r925k9d/images/stencil/original/image-manager/search.png" alt="Search Icon">
                </div>
            </button>
        </li>
    </ul>
    <div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" data-prevent-quick-search-close>
        {{> components/common/quick-search name='nav-quick-search'}}
    </div>
</nav>
