<a href="#" class="footer-logo-link">
    <img class="footer-logo-image" src="https://cdn11.bigcommerce.com/s-gr2r925k9d/images/stencil/original/image-manager/footer-logo.png" alt="Footer Logo">
</a>

<img class="custom-footer-intro-image" src="https://cdn11.bigcommerce.com/s-gr2r925k9d/images/stencil/original/image-manager/footer-intro-image.png" alt="Fotter Intro Image">

<p>{{lang 'newsletter.subscribe_intro'}}</p>

<form class="form custom-footer-form" action="{{urls.subscribe.action}}" method="post">
    <fieldset class="form-fieldset">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="nl_first_name" value="bc">
        <input type="hidden" name="check" value="1">
        <div class="form-field">
            <label class="form-label is-srOnly" for="nl_email">{{lang 'common.email_address'}}</label>
            <div class="form-prefixPostfix wrap">
                <input class="form-input"
                       id="nl_email"
                       name="nl_email"
                       type="email"
                       value="{{customer.email}}"
                       placeholder="{{lang 'newsletter.email_placeholder'}}"
                       aria-describedby="alertBox-message-text"
                       aria-required="true"
                       required
                >
                <input class="btn btn-secondary btn-small form-prefixPostfix-button--postfix"
                       type="submit"
                       value="{{lang 'newsletter.subscribe_submit'}}"
                >
            </div>
            {{#if settings.show_newsletter_summary }}
                <div class="footer-newsletter-summary">{{settings.newsletter_summary}}</div>
            {{/if}}
        </div>
    </fieldset>
</form>
