<div id="contact-ask-an-expert-results" class="contact-ask-an-expert-text"></div>
<form class="form" id="contact-ask-an-expert-form">
    <div class="flex wrap-small-col">
        <div class="form-field col-2">
            <input required type="text" class="form-input section-text-12" name="contact_first_name" id="contact_first_name" placeholder="First Name">
        </div>
        <div class="form-field col-2">
            <input required type="text" class="form-input section-text-12" name="contact_surname" id="contact_surname" placeholder="Surname">
        </div>
    </div>

    <div class="form-field col-full">
        <input required type="text" class="form-input section-text-12" name="contact_email" id="contact_email" placeholder="Email">
    </div>

    <div class="form-field col-full">
        <input required type="tel" class="form-input section-text-12" name="contact_phone" id="contact_phone" placeholder="Phone">
    </div>
    
    <div class="form-field col-full">
        <input required type="text" class="form-input section-text-12" name="contact_address" id="contact_address" placeholder="Address">
    </div>

    <div class="flex wrap-small-col">
        <div class="form-field col-3">
            <input required type="text" class="form-input section-text-12" name="contact_city" id="contact_city" placeholder="City">
        </div>
        <div class="form-field col-3">
            <input required type="text" class="form-input section-text-12" name="contact_country" id="contact_country" placeholder="Country">
        </div>
        <div class="form-field col-3">
            <input required type="tel" class="form-input section-text-12" name="contact_post-code" id="contact_post-code" placeholder="Post code">
        </div>
    </div>

    <select class="form-field form-field-select col-full" name="contact_industrial" id="contact_industrial">
        <option value="Industry">Industry</option>
        <option value="Industry1">Industry1</option>
        <option value="Industry2">Industry2</option>
        <option value="Industry3">Industry3</option>
    </select>

    <div class="form-field form-field-textarea col-full">
        <textarea name="comment_area" cols="30" rows="6" class="form-input section-text-12" id="comment_area" placeholder="Enter your question here…" required></textarea>
    </div>

    <div class="form-actions text-left">
        <button type="button" class="btn btn-secondary uppercase" id="contact-ask-an-expert-button">Submit</button>
    </div>
</form>