/* Custom left Side bar */
body {
    position: relative;

    .custom-left-sidebar {
        position: absolute;
        top: 83px;
        bottom: 0;
        left: -100%;
        background-color: #000000;
        width: 100%;
        transition: all 0.4s ease;
        padding-top: 67px;
        z-index: 9;

        .custom-category-banner {
            display: block !important;

            @media (max-width: 1024px) {
                padding-left: 30px;
                padding-right: 30px;

                img {
                    display: block;

                    + img {
                        margin-top: 28px;
                    }
                }
            }
        }
        #facetedSearch-navList {
            display: block !important;

            @media (max-width: 1024px) {
                margin-top: -5px;
            }
        }
    }

    &.show-sidebar {
        .custom-left-sidebar {
            left: 0;
        }
    }

    &.show-sidebar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    &.show-sidebar::-webkit-scrollbar {
        display: none;
    }

    .custom-close-sidebar {
        position: absolute;
        right: 15px;
        top: 15px;
    }

}

/* pagination */
.custom-pagination {
    .pagination-list {
        display: none;
    }
}

.custom-product-show-more {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 41px;
    transform: translateY(-5px);
}

/* Grease Finder Button */
.grease-finder-button {
   img {
    margin-left: 4px;
   } 
}

/* Section Below Home Carousel */
.custom-section-below-carousel {
    padding-top: 13px;
    padding-bottom: 16px;

    @media (max-width: 767px) {
        padding-top: 8px;
        padding-bottom: 14px;    
    }

    .section-below-carouse__wrapper {
        @media (max-width: 1400px) {
            flex-direction: column;
        }

        .title {
            margin: 0;
    
        }
    
        .desc {
            margin-bottom: 0;

            @media (max-width: 1400px) {
                margin-bottom: 15px;
            }
        }

        .separate {
            width: 1px;
            height: 30px;
            background-color: #ffffff;

            @media (max-width: 1400px) {
                display: none;
            }
        }

        .btn {
            text-transform: uppercase;
        }
    }

}

/* Section Banner With Text 1 */
.custom-banner-with-text {
    margin-top: 28px;

    .banner-with-text-item {
        margin-bottom: 10px;

        img {
            transition: all 0.4s ease;
        }
        .banner-with-text-link {
            display: block;
            overflow: hidden;
        }

        &:hover {
            img {
                transform: scale(1.05);
                filter: brightness(0.7);
            }
        }
    }
}

/* Section Slick Banner */
.section-slick-banner {
    .slick-list {
        margin-left: -5px;
        margin-right: -5px;
    }
    
    .slick-banner__item {
        padding: 0 5px;

        .slick-banner__link {
            position: relative;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom,transparent 0,rgba(255,255,255,.3) 100%);
                position: absolute;
                bottom: -100%;
                left: 0;
                transition: bottom 0.4s ease;
            }
    
            &:hover {
                &::after {
                    bottom: 0;
                }
            }
        }

    }
}

/* Section Home Product Block */
#productBlockID_1 {
    margin-top: 22px;
}
#list-productBlockID_1 {
    margin-top: 16px;
}
.product-block {
    .productsByListId {
        .slick-list {
            margin-left: -8px;
            margin-right: -8px;

            @media (max-width: 550px) {
                margin-left: -5px;
                margin-right: -5px;
            }
        }

        .productCarousel-slide {
            padding-left: 8px;
            padding-right: 8px;

            @media (max-width: 550px) {
                padding-left: 5px;
                padding-right: 5px;
            }
        }

        .card {
            .card-figure {
                .card-buttonGroup {
                    display: none;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    
                    .btn {
                        font-size: 12px;
                        letter-spacing: 0.84px;
                        line-height: 1.5em;
                        text-transform: uppercase;
                        
                        & +.btn {
                            margin-top: 8px;
                        }

                        .icon {
                            margin-left: 3px;
                        }
                    }
                }
                
                .card-img-container {
                    &:after {
                        padding-bottom: 100%;
                    }
                }
            }
            
            .card-body {
                .card-brand,
                .card-rating {
                    display: none;
                }
                
                .card-price,
                .card-title {
                    text-align: center;
                    font-size: 12px;
                    letter-spacing: 0.84px;
                    line-height: 1.5em;
                    color: stencilColor("color-textBase");
                    font-weight: 600;
                }
                
                .card-figcaption-button {
                    display: block;
                    text-transform: uppercase;

                    @media (max-width: 550px) {
                        min-width: 100%;
                    }
                }
            }
            
            &:hover {
                .card-buttonGroup {
                    display: block;
                }
            }
        }
    }
}

/* Banner Button With text */
.custom-banner-button-text {
    margin-top: 29px;
    padding-top: 14px;
    padding-bottom: 17px;

    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;

    @media (max-width: 767px) {
        padding-top: 13px;
        padding-bottom: 19px;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 4px;

        @media (max-width: 767px) {
            margin-bottom: 0;
        }
    }

    p {
        @media (max-width: 767px) {
            margin-top: -2px;
            font-size: 16px;
            margin-bottom: 12px;
        }

        @media (max-width: 500px) {
            max-width: 320px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

/* Home Blogs */
.home-block-post {
    padding-bottom: 34px;
    padding-top: 12px;

    h3 {
        margin: 0;
    }

    .block-recent-post {
        .slick-list {
            margin-left: -5px;
            margin-right: -5px;
        }
        .item {
            padding: 0 5px;
            .item-image {
                .image-with-overlay {
                    overflow: hidden;
                    display: block;
                }

                img {
                    transition: all 0.4s ease;
                }
                
                &:hover {
                    img {
                        transform: scale(1.05);
                        filter: brightness(0.7);
                    }
                }
            }
    
            .item-content {
                padding: 10px 20px 17px;

                .title {
                    margin: 0;
                    
                    a {   
                        font-size: 16px;
                        text-decoration: none;
                        letter-spacing: 0;
                        line-height: 1.3125em;
                    }
                    
                }
                
                .summary {
                    color: #8d8d8d;
                }
            }
        }
    }
}

/* Home Testimonial */
.testimonial {
    padding-top: 20px;
    padding-bottom: 46px;

    h3 {
        margin: 0;
    }
    .testimonial__content {
        width: 100%;
        max-width: 898px;
        margin: 0 auto;
        .testimonial__item {
            padding: 25px 32px 23px 40px;
            margin-top: 16px;
            position: relative;

            @media (max-width: 767px) {
                margin-top: 40px;
                padding: 26px 12px 23px 13px;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: -55px;
                left: 40px;
                border-style: solid;
                border-width: 30px 20px 30px 20px;
                border-color: #232323 transparent transparent transparent;
            }

            .testimonial__desc {
                margin-bottom: 0;
            }

            .testimonial__review {
                margin-top: 5px;
                .review__list {
                    margin: 0;
                }
                .review__item {
                    width: 100%;
                    height: 100%;
                    max-width: 23px;
                    max-height: 22px;
                }
            }
        }

        .row > .s-1:first-child {
            .testimonial__item {
                @media (max-width: 767px) {
                    margin-top: 14px;
                }
            }
        }
    }
}

.productGrid--maxCol1 {
    .card {
        .card-body {
            padding: 0 20px;
        }
    }
}

/* Contact Us Page */
.custom-contact-us-page {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-top: 48px;

    .contact-us__top {
        .contact-us-top__wrapper {
            display: flex;

            @media (max-width: 800px) {
                flex-direction: column;
            }
        }
        .contact-us__form {
            @media (min-width: 801px) {
                width: 100%;
                max-width: 694px;
            }

            .col-2 {
                width: 100%;
                max-width: 100%;

                @media (min-width: 801px) {
                    width: 50%;
                    max-width: 341px;
                    + .col-2 {
                        margin-left: 12px;
                    }
                }
            }

            .col-3 {
                width: 100%;
                max-width: 100%;

                @media (min-width: 801px) {
                    width: 33.3333%;
                    max-width: 222px;
                    + .col-3 {
                        margin-left: 14px;
                    }
                }
            }

            .col-full {
                width: 100%;
            }

            .wrap-small-col {
                @media (max-width: 800px) {
                    flex-wrap: wrap;
                }
            }
            .form-field {
                margin-bottom: 10px;

                .form-input::placeholder {
                    color: #232323;
                }
            }

            #contact-ask-an-expert-form  {
                margin-bottom: 0;
            }

            .form-input {
                height: 40px;
            }

            textarea.form-input {
                height: 96px;
                border-radius: 0;
            }

            select {
                position: relative;
                min-height: 40px;
                padding-left: 12px;
                padding-right: 16px;
                color: #232323;
                font-size: 12px;
                line-height: 1.5em;
                font-weight: 600;
                -webkit-appearance: none;
                -moz-appearance: none;
                background: transparent;
                background-image: url('data:image/svg+xml,<svg width="35px" height="12px" viewBox="0 -4.5 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="%23000000" transform="rotate(180)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>arrow_up [%23340]</title><desc>Created with Sketch.</desc><defs></defs><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Dribbble-Light-Preview" transform="translate(-140.000000, -6683.000000)" fill="%23000000"><g id="icons" transform="translate(56.000000, 160.000000)"><path d="M84,6532.61035 L85.4053672,6534 L94.0131154,6525.73862 L94.9311945,6526.61986 L94.9261501,6526.61502 L102.573446,6533.95545 L104,6532.58614 C101.8864,6530.55736 95.9854722,6524.89321 94.0131154,6523 C92.5472155,6524.40611 93.9757869,6523.03486 84,6532.61035" id="arrow_up-[%23340]"></path></g></g></g></g></svg>');
                background-repeat: no-repeat;
                background-position-x: 100%;
                background-position-y: 50%;

                &::placeholder {
                    color: #232323;
                }
            }

            #contact-ask-an-expert-button {
                margin-bottom: 0;
            }
        }
    
        .contact-us__info {
            position: relative;
            background-color: #393939;

            @media (min-width: 801px) {
                width: 100%;
                max-width: 641px;
                margin-left: 29px;
            }

            @media (max-width: 800px) {
                min-height: 278px;
                margin-top: 9px;
            }

            .content {
                max-width: 255px;

                @media (min-width: 801px) {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                
                h4 {
                    margin: 0;
                    margin-bottom: 20px;
                }

                a {
                    &:hover {
                        color: #ff5100;
                    }
                }

                .text-info {
                    margin-bottom: 0;
                }

                address {
                    margin-top: 19px;
                    font-style: normal;
                }
            }
        }
    }
}

.contact-us__map {
    margin-top: 80px;
    
    iframe {
        display: block;
    }
}

/* About Us Page */
.custom-about-us {
    .about-us__banner {
        position: relative;
        .banner__image {
            img {
                min-height: 425px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .banner__content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);

            @media (min-width: 1025px) {
                bottom: -60px;
            }

            @media (max-width: 767px) {
                top: 48%;
                bottom: -10px;
            }

            h2 {
                @media (min-width: 1025px) {
                    margin-bottom: 116px;
                    margin-top: 88px;
                }

                @media (max-width: 767px) {
                    text-align: center;
                    margin-top: 0;
                    font-size: 49px;
                    line-height: 55px;
                    letter-spacing: 0;
                    margin-bottom: 86px;
                }
            }

            .banner__learn-more {
                text-align: center;

                a {
                    font-size: 36px;
                    letter-spacing: 0;
                    line-height: 1.3888em;
                }
            }
        }
    }

    .about-us__tabs {
        .title__list {
            margin-left: -38px;
            margin-right: -38px;
            padding-top: 31px;
            padding-bottom: 28px;

            @media (max-width: 767px) {
                flex-direction: column;
                padding-top: 13px;
                padding-bottom: 13px;
            }

            .title__item {
                position: relative;
                padding-left: 38px;
                padding-right: 38px;

                .title__link {
                    font-size: 15px;
                    color: #232323;
                    line-height: 1.53em;
                    font-weight: 600;

                    &.is-active {
                        &:before {
                            content: "";
                            position: absolute;
                            bottom: -65px;
                            left: 43%;
                            border-style: solid;
                            border-width: 20px 13px 20px 13px;
                            border-color: #ff5100 transparent transparent transparent;
                        }
                    }

                    &:hover {
                        color: #ffffff;
                    }
                }
            }
        }
    }

    .about-us-video-with-text {
        .container {
            @media (max-width: 767px) {
                padding: 0;
            }
        }
        .about-us__wrapper {
            padding-top: 37px;
            padding-bottom: 25px;

            @media (max-width: 1024px) {
                flex-direction: column-reverse;
                padding-top: 0;
                padding-bottom: 15px;
            }
        }
        .about-us__info {
            width: 100%;
            max-width: 646px;

            h3 {
                font-weight: bold;
                @media (max-width: 767px) {
                    margin-top: 17px;
                    margin-bottom: 13px;
                }
            }

            p {
                @media (max-width: 767px) {
                    margin-bottom: 23px;
                }
                
                &:last-child {
                    margin-bottom: 0;
                }
            }

            @media (max-width: 767px) {
                padding-left: 22px;
                padding-right: 22px;
            }
        }

        .about-us__video {
            width: 100%;
            max-width: 678px;

            @media (max-width: 767px) {
                border: 1px solid #707070;
            }

            @media (min-width: 1025px) {
                margin-left: 37px;
            }

            iframe {
                min-height: 260px;
            }
        }
    }

    .about-us-history {
        position: relative;
        padding-bottom: 280px;

        h2 {
            margin: 0;
            font-weight: bold;

            @media (max-width: 767px) {
                margin-bottom: 15px;
            }
        }
        .history-banner__list {
            position: absolute;
            left: 0;
            right: 0;
            z-index: 9;

            .history-banner__item {
                position: relative;
                padding-left: 4px;
                padding-right: 4px;

                @media (max-width: 767px) {
                    padding-left: 9px;
                    padding-right: 9px;
                }

                .banner__image {
                    min-height: 373px;
                    @media (min-width: 768px) {
                        min-height: 370px;
                    }
                }

                .banner__content {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: block;
                    padding-left: 61px;
                    padding-right: 62px;
                    padding-bottom: 38px;

                    @media (max-width: 767px) {
                        padding-left: 27px;
                        padding-right: 24px;
                        padding-bottom: 15px;
                    }

                    h5, p{
                        margin-bottom: 0;
                        font-weight: 400;
                    }

                }
            }
        }

        .slick-arrow {
            &.slick-next {
                right: 22px;

                &::before {
                    background-image: url('data:image/svg+xml,<svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="%23000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M256 120.768L306.432 64 768 512l-461.568 448L256 903.232 659.072 512z" fill="%23ffffff"></path></g></svg>');
                }
            }

            &.slick-prev {
                left: 22px;

                &::before {
                    background-image: url('data:image/svg+xml,<svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="%23000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M768 903.232l-50.432 56.768L256 512l461.568-448 50.432 56.768L364.928 512z" fill="%23ffffff"></path></g></svg>');
                }
            }
        }
    }

    .revolution {
        position: relative;
        padding-top: 140px;
        padding-bottom: 46px;
        background-repeat: no-repeat;
        background-position: center;

        @media (max-width: 900px) {
            background-size: cover;
            padding-top: 105px;
            padding-bottom: 13px;
        }

        &::after {
            content: "";
            background-color: rgba($color: #000000, $alpha: 0.5);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
        }

        .container {
            position: relative;
            z-index: 2;
        }

        .revolution-block__wrapper {
            margin-left: -18px;
            margin-right: -18px;

            @media (max-width: 900px) {
                flex-direction: column;
            }

            + .revolution-block__wrapper {
                padding-top: 60px;

                @media (max-width: 767px) {
                    padding-top: 15px;
                }
            }
        }

        .revolution__block {
            @media (max-width: 900px) {
                flex-direction: column;
            }
            &.revolution__bottom {
                @media (max-width: 900px) {
                    flex-direction: column-reverse;
                }
            }

            .block__left {
                padding-left: 18px;
                padding-right: 18px;
                width: 100%;
                
                @media (min-width: 901px) {
                    max-width: 650px;
                }

                @media (max-width: 767px) {
                    padding-left: 5px;
                    padding-right: 5px;
                }

                h2 {
                    font-weight: bold;
                    margin-top: 65px;

                    @media (max-width: 767px) {
                        margin-top: 14px;
                        margin-bottom: 14px;
                        line-height: 36px;
                    }

                    @media (max-width: 500px) {
                        max-width: 70%;
                    }
                }

                p {
                    @media (max-width: 500px) {
                        max-width: 405px
                    }
                }

                .image-group {
                    display: flex;
                    flex-wrap: wrap;
                    margin-left: -2px;
                    margin-right: -2px;
                    min-height: 427px;

                    img {
                        width: 50%;
                        padding: 2px;
                    }
                }
            }

            .block__right {
                padding-left: 18px;
                padding-right: 18px;
                width: 100%;

                @media (min-width: 901px) {
                    max-width: 677px;
                }

                @media (max-width: 767px) {
                    padding-left: 11px;
                    padding-right: 11px;
                }

                h2 {
                    font-weight: bold;
                    margin-top: 17px;
                    margin-bottom: 13px;

                    @media (max-width: 767px) {
                        margin-top: 16px;
                        margin-bottom: 14px;
                    }
                }

                p {
                    margin-bottom: 21px;

                    @media (max-width: 767px) {
                        margin-bottom: 23px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .revolution__top {
            .top__quote {
                padding: 35px 75px 33px 53px;
                margin-top: 35px;

                @media (max-width: 767px) {
                    margin-top: -8px;
                    padding: 16px 30px 14px 60px;
                }

                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}