/* Popin Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body {
    @media (max-width: 1024px) {
        padding-top: 83px;
    }
}

body:not(.page-type-default){   
    .body {
        margin-top: 0;
    }
}

.body {
    margin-bottom: 0;
}

.skip-to-main-link {
    display: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 22px;

    &.container-full {
        max-width: 100%;
    }

    &.container-1920 {
        max-width: 1920px;
    }

    &.container-main {
        // max-width: 1362px;
        max-width: 1406px;
    }

    &.container-1800 {
        max-width: 1800px;
    }

    &.container-1684 {
        max-width: 1684px;
    }

    &.container-1446 {
        max-width: 1446px;
    }

    &.container-1424 {
        max-width: 1424px;
    }
}

.custom-section {
    @media (min-width: 1025px) {
        margin-left: -22px;
        margin-right: -22px;
    }
}

.text {
    &-left {
        text-align: left;
    }

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }
}

.neusa-font {
    font-family: 'Neusa Next Pro';
}

.proxima-font {
    font-family: 'Proxima Nova Rg';
}

.smooch-font {
    font-family: 'Smooch';
}

.zooja-font {
    font-family: 'ZoojaPro';
}

.flex {
    display: flex;

}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-center-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hide-on-desktop {
    @media (min-width: 1025px) {
        display: none;
    }
}

.hide-on-tablet {
    @media (max-width: 1024px) {
        display: none;
    }
}

.hide-on-mb {
    @media (max-width: 767px) {
        display: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    text-transform: unset;
}

input,
.button {
    border-radius: 0 !important;
}


.uppercase {
    text-transform: uppercase;
}

.heading-h1 {
    font-size: $fontSize-largest;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.497em;
}

.heading-h2 {
    font-size: $fontSize-larger;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.53em;
}

.heading-h3 {
    font-size: $fontSize-large;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.458em;
}

.heading-h4 {
    font-size: $fontSize-small;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.5625em;
}

.heading-h5 {
    font-size: $fontSize-smaller;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.53em;
}

.heading-h6 {
    font-size: $fontSize-smallest;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 1.78em;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.fw-bold {
    font-weight: bold;
}

.color-black {
    color: #000000;
}

.color-body {
    color: stencilColor("color-textBase");
}

.color-white {
    color: #ffffff;
}

.color-main {
    color: #ff5100;
}

.bg-main {
    background-color: #ff5100;
}

.bg-main-2 {
    background-color: #232323;
}

.bg-black {
    background-color: #000000;
}

.bg-white {
    background-color: #ffffff;
}

.no-underline {
    text-decoration: none;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}


.custom-home-tilte {
    position: relative;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: center;
    font-weight: bold;
    color: #232323;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #efefef;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
    }

    span {
        position: relative;
        z-index: 9;
        padding-left: 37.5px;
        padding-right: 37.5px;
        background-color: #ffffff;
        display: inline-block;
    }
}

.section-heading {

}


.section-title {

}

.section-text-14 {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.5em;
}

.section-text {
    font-size: 16px;
    line-height: 1.5625em;
    letter-spacing: 0;

    @media (max-width: 767px) {
        font-size: 14px;
        line-height: 1.5em;
    }
}

.btn {
    font-weight: 600;
    display: inline-block;
    padding: 15px;
    font-size: 12px;
    letter-spacing: 0.84px;
    line-height: 1.5em;
    text-decoration: none;
    min-width: 188px;
    text-align: center;
    max-height: 48px;
    transition: all 0.2s ease-in;
    position: relative;
    z-index: 1;
    overflow: hidden;
    
    &:before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scaleY(1) scaleX(1.25);
        top: 100%;
        width: 140%;
        height: 180%;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        display: block;
        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: -1;
    }
    &:after {
        content: "";
        position: absolute;
        left: 55%;
        transform: translateX(-50%) scaleY(1) scaleX(1.45);
        top: 180%;
        width: 160%;
        height: 190%;
        border-radius: 50%;
        display: block;
        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: -1;
    }

    &:hover {
        color: #ffffff;
    }
    
    &:hover:before {
        top: -35%;
        transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    }
    &:hover:after {
        top: -45%;
        transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    }

    &.btn-large {
        min-width: 259px;

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    &.btn-small {
        min-width: 50px;
    }

    &.btn-primary {
        color: stencilColor("button--primary-color");
        background-color: stencilColor("button--primary-backgroundColor");

        &:hover,
        &:active {
            &:before {
                background-color: stencilColor("button--primary-backgroundColorHover");
            }
            &:after {
                background-color: stencilColor("button--primary-backgroundColorHover");
            }
        }

        &:after {
            background-color: stencilColor("button--primary-backgroundColorHover");
        }
    
        &:hover {
            color: stencilColor("button--primary-colorHover");
        }
    }

    &.btn-secondary {
        color: stencilColor("button--default-color");
        background-color: stencilColor("button--default-backgroundColor");

        &:hover,
        &:active {
            &:before {
                background-color: stencilColor("button--default-backgroundColorHover");
            }
            &:after {
                background-color: stencilColor("button--default-backgroundColorHover");
            }
        }

        &:after {
            background-color: stencilColor("button--default-backgroundColorHover");
        }
    
        &:hover {
            color: stencilColor("button--default-colorHover");
        }
    }

    &.btn-disable {
        cursor: not-allowed;
        pointer-events: none;
        color: stencilColor("button--disabled-color");
        background-color: stencilColor("button--disabled-backgroundColor");
        border-color: stencilColor("button--disabled-borderColor");
    }
}

/* Custom Arrow Carousel */
.slick-slider {
    .slick-arrow {
        width: 24px;
        height: 39px;
        padding: 0;
        background-color: transparent;
        border: none;
        &.slick-prev::before {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-image:url('data:image/svg+xml,<svg width="800px" height="800px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M768 903.232l-50.432 56.768L256 512l461.568-448 50.432 56.768L364.928 512z" fill="%23000000" /></svg>');

            @media (max-width: 1024px) {
                background-image: url('data:image/svg+xml,<svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="%23000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M768 903.232l-50.432 56.768L256 512l461.568-448 50.432 56.768L364.928 512z" fill="%23ffffff"></path></g></svg>');
            }
        }

        &.slick-next::before {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-image: url('data:image/svg+xml,<svg width="800px" height="800px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M256 120.768L306.432 64 768 512l-461.568 448L256 903.232 659.072 512z" fill="%23000000" /></svg>');

            @media (max-width: 1024px) {
                background-image: url('data:image/svg+xml,<svg viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="%23000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M256 120.768L306.432 64 768 512l-461.568 448L256 903.232 659.072 512z" fill="%23ffffff"></path></g></svg>');
            }
        }
    }

    @media (min-width: 1262px) and (max-width: 1480px) {
        .slick-next {
            right: 0;
        }

        .slick-prev {
            left: 0;
        }
    }
}

/* Animation Scrool */
.no-js .custom-animation {
    transform: translatey(0);
}

.custom-animation {
    transform: translatey(100px);
}

.js .custom-animation {
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transform: translatey(100px);
    opacity: 0;

    &[data-step-animate="1"] {}

    @for $i from 0 through 100 {
        &[data-step-animate="#{$i}"] {
            transition-delay: .1s + $i*0.05;
            transition-duration: .5s + $i*0.1;
        }
    }
}

.js .animated.custom-animation {
    transform: translatey(0);
    opacity: 1;
}

