// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================


// Product view layout
// -----------------------------------------------------------------------------

.productView {
    @include grid-row($behavior: "nest");

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: -(spacing("base"));
    margin-right: -(spacing("base"));

    @include breakpoint("medium") {
        display: block;
    }

    .modal & {
        padding-bottom: 0;
        padding-top: 0;
    }
}

.productView--quickView {
    .socialLinks-item--print {
        display: none;
    }
}

.productView-images {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("medium") {
        width: grid-calc(6, $total-columns);
    }
}

.productView-details {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("medium") {
        clear: right;
        float: right;
        width: grid-calc(6, $total-columns);
    }

    .productView--quickView & {
        position: relative;
    }

    &.product-data {
        order: -1;
    }
}

.productView-description {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");
    position: relative;
    z-index: 1;

    .productView-title {
        border-bottom: container("border");
        margin-bottom: spacing("base");
        padding-left: spacing("base");
        padding-right: spacing("base");
    }

    .productView-description {
        @include breakpoint("medium") {
            clear: both;
            float: none;
            width: 100%;
        }
    }
}


/* Custom Start */
.custom-productView {
    margin: 0;

    @media (min-width: 1025px) {
        padding-top: 23px;
    }

    .productView-images {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-left: 0;
        padding-right: 0;

        @media (max-width: 1024px) {
            flex-direction: column;
            order: 1;
        }


        .product-image-plus-icon {
            position: absolute;
            bottom: 0px;
            right: 18px;

            @media (max-width: 1024px) {
                display: none;
            }
        }

        .productView-image {
            width: 100%;
            @media (min-width: 1025px) {
                max-width: 674px;
                margin-left: 20px;
                margin-right: 8px;
            }
        }

        .productView-thumbnails  {
            width: 100%;
            max-width: 124px;
            margin-top: 0;

            .slick-arrow {
                left: 50%;
                width: 10px;
                height: 17px;

                &.slick-prev {
                    top: 0;
                    transform: translateX(-50%) rotate(90deg);
                }

                &.slick-next {
                    top: calc(100% + 20px);
                    transform: translateX(-50%) rotate(90deg);
                }
            }

            .slick-list {
                width: 100%;
                margin: 0;
            }

            span[data-carousel-tooltip] {
                display: none;
            }

            .productView-thumbnail {
                padding: 0;
                padding-top: 9px;
                padding-bottom: 9px;
                width: 100%;

                @media (max-width: 1024px) {
                    max-width: 25%;
                }

                .productView-thumbnail-link {
                    max-width: 100%;
                    height: auto;
                    padding: 0;

                    @media (max-width: 767px) {
                        height: auto;
                    }
                    
                    img {
                        width: 100%;
                        object-fit: cover;
                        border: 1px solid #959595;
                    }

                    &:hover {
                        border-color: #959595;
                    }
                }

            }
        }

        .productView-img-container {
            margin: 0;
            max-width: 100%;

            @media (min-width: 1025px) {
                max-width: 674px;
            }

            border: 1px solid #959595;
            &::after {
                padding-bottom: 100%;
            }
        }

        /* Thumbnail Image Mobile */
        @media (max-width: 1024px) {
            .productView-thumbnails--mobile {
                width: 100%;
                max-width: 100%;
                margin-top: 20px;
                margin-left: 0;
                margin-right: 0;
                position: relative;

                .productView-thumbnail {
                    padding: 0 7px;
                }

                .slick-list {
                   width: calc(100% - 100px);
                    margin: 0 auto;

                    @media (max-width: 767px) {
                        width: calc(100% - 20px);
                    }
                }

                .slick-arrow {
                    position: absolute;
                    top: 50% !important;
                    transform: translateY(30%) !important;

                    &.slick-prev {
                        left: 0;
                        transform: rotate(0);

                        &::before {
                            background-image: url('data:image/svg+xml,<svg width="800px" height="800px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M768 903.232l-50.432 56.768L256 512l461.568-448 50.432 56.768L364.928 512z" fill="%23000000" /></svg>');
                        }
                    }

                    &.slick-next {
                        right: 0;
                        left: unset;
                        transform: rotate(0);

                        &::before {
                            background-image: url('data:image/svg+xml,<svg width="800px" height="800px" viewBox="0 0 1024 1024" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M256 120.768L306.432 64 768 512l-461.568 448L256 903.232 659.072 512z" fill="%23000000" /></svg>');
                        }
                    }
                }
            }
        }
    }

    .productView-details {
        padding-left: 8px;
        padding-right: 0;
        max-width: 674px;
        margin-left: 0;
        margin-right: auto;
        float: left;

        @media (min-width: 1024px) and (max-width: 1600px) {
            width: calc(50% - 130px);
        }

        @media (max-width: 1024px) {
            width: 100%;
            padding-left: 0;
        }

        &.product-data {
            padding-bottom: 0;

            @media (max-width: 1024px) {
                order: 2;
            }
        }

        .productView-product {
            padding-bottom: 0;
            border-bottom: none;

            @media (max-width: 500px) {
                width: calc(100% - 100px);
            }

            .productView-title {
                @media (min-width: 1025px) {
                    margin-top: 0px;
                    margin-bottom: 2px;
                }
            }

            .productView-rating {
                .icon {
                    width: 15px;
                    height: 15px;
                }
            }
        }
        
        &.product-options {
            padding-top: 10px;
            padding-bottom: 0;

            @media (max-width: 1024px) {
                order: 3;
                position: relative;
            }

            .productView-options {
                margin-bottom: 10px;
                @media (max-width: 767px) {
                    text-align: left;
                }

                .form {
                    position: relative;

                    @media (min-width: 1600px) {
                        margin-bottom: 0;
                    }

                    #wishlist-dropdown {
                       top: auto;
                    }
                }
            }

            div[data-product-option-change] {
                .form-field {
                    margin-bottom: 0;
                }
                .form-label {
                    text-transform: uppercase;
                    font-size: 12px;
                    letter-spacing: 0.84px;
                    line-height: 1.5rem;
                    color: #232323;
                    font-weight: normal;
                }

                .form-option-wrapper {
                    .form-option {
                        background-color: #efefef;
                        padding: 8px 16px;
                        border: none;
                        border-radius: 12px;
                        margin-right: 12px;

                        .form-option-variant {
                            font-size: 15px;
                            line-height: 23px;
                            letter-spacing: 0;
                            font-weight: normal;
                            color: #232323;
                        }
                    }

                    .form-radio:checked + .form-option {
                        border: none;
                        box-shadow: none;

                        .form-option-variant {
                            color: #ff5100;
                        }
                    }
                }

                @media (max-width: 500px) {
                    width: calc(100% - 100px);
                }
            }

            .productView-price {
                font-size: 12px;
                margin-top: 10px;

                .price-section {
                    line-height: 100%;
                    height: fit-content;

                    + .price-section {
                        margin-top: 4px;
                    }
                }
                .price {
                    color: #232323;
                    font-size: 12px;
                    line-height: 1.5rem;
                    letter-spacing: 0.84px;
                    font-weight: normal;

                    &.price--withTax {
                        font-size: 18px;
                        letter-spacing: 1.26px;
                        line-height: 100%;
                        font-weight: 600;
                    }

                    &.price--non-sale {
                        text-decoration: none;
                    }
                }

                @media (max-width: 500px) {
                    width: calc(100% - 100px);
                }
            }

            .productView-info {
                .productView-info-item {
                    margin-top: 5px;

                    .productView-info-name {
                        margin-bottom: 0;
                        font-size: 12px;
                        line-height: 1.5rem;
                        letter-spacing: 0.84px;
                        font-weight: normal;   
                    }
    
                    .productView-info-value {
                        margin-bottom: 0;
                        text-transform: uppercase;
                        color: #ff5100;
                        font-size: 12px;
                        line-height: 1.5rem;
                        letter-spacing: 0.84px;
                        font-weight: normal;
                    }
                }

                @media (max-width: 500px) {
                    width: calc(100% - 100px);
                }
            }

        }
    }
    .add-to-cart-wrapper {
        .form-field--increments {
            margin-bottom: 16px;
            .form-label {
                display: none;
            }

            .form-increment {
                .button {
                    border-radius: 50% !important;
                    padding: 0;
                    background-color: #E3E5E8;
                    border-color: #E3E5E8;

                    .icon {
                        width: 16px;
                        height: 16px;
                    }
                }

                .form-input--incrementTotal {
                    font-family: 'Neusa Next Pro';
                    font-size: 15px;
                    line-height: 22px;
                    font-weight: 400;
                    color: #727C8E;
                    width: 36px;
                }
            }
        }

        
    }
    .wish-list-wrapper {
        position: relative;
        width: 100%;
        display: inline-block;

        @media (min-width: 1250px) {
            max-width: 188px;
        }

        #wishlist-dropdown {
            padding-right: 0;

            input, a {
                font-size: 14px;
                background-color: #efefef;
                padding: 15px;
                text-transform: capitalize;
            }

            input {
                border-bottom: 1px solid #8F8F8F !important;
            }
        }
    }
    .add-to-cart-buttons {
        padding: 0;
        margin: 0;
        width: fit-content;
        margin-right: 15px;
        @media (max-width: 1251px) {
            width: 100%;
        }

        .btn {
            border: none;
        }

        #form-action-addToCart {
            @media (max-width: 1251px) {
                width: 100%;
                display: block;
            }
        }
    }

    .productView-button-group {
        @media (max-width: 1250px) {
            flex-direction: column;
            width: 100%;
        }
        .custom-add-to-quote {
            .btn {
                @media (max-width: 1251px) {
                    width: 100%;
                    display: block;
                    margin-top: 13px;
                }
            }
        }

        .form-wishlist {
            @media (min-width: 1251px) {
                margin-left: 14px;
                margin-top: 0;
            }

            @media (max-width: 1250px) {
                margin-top: 13px;
                width: 100%;
                padding: 0;
            }
        }

        .icon {
            margin-left: 4px;
            float: unset;
        }
    }

    &.productView--quickView {
        .technical-sheet__list {
            display: none;
        }
    }
}

/* Custom Tabs */
.custom-product-tabs {
    @media (min-width: 1600px) {
        margin-top: -8px;
    }
    .custom-tab-content {
        .custom-toggle-title {
            border-top: 1px solid #F2F2F2;

            .custom-toggleLink {
                position: relative;
                padding-top: 12px;
                padding-bottom: 11px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 35px;

                &.custom-toggleLink--review {
                    padding-left: 110px;
                }

                .tab-icon {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-40%);
                }

                .text {
                    color: #232323;
                    font-size: 12px;
                    letter-spacing: 0.84px;
                    line-height: 1.5em;
                }

                .icon-plus {
                    position: relative;
                    width: 16px;
                    height: 2px;
                    background-color: #000000;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 2px;
                        height: 16px;
                        background-color: #000000;
                        transform: rotate(90deg);
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

            }

        }
        .custom-toggle-content {
            padding-top: 8px;
            display: none;
        }

        &.is-open {
            .icon-plus {
                &::after {
                    display: none;
                }
            }

            .custom-toggle-content {
                display: block;
                font-size: 12px;
                line-height: 1.5em;
                color: #232323;
                letter-spacing: 0.84;
            }
        }
    }

    /* Tab Calculate Shipping */
    .calculate-shipping {
        max-width: 375px;

        select, input {
            font-size: 12px;
            line-height: 1.5em;
            color: #232323;
            letter-spacing: 0.84;
            height: 40px;
            font-weight: 600;
            border: 1px solid #707070;
            border-radius: 0;
            width: 100%;
            padding-left: 20px;
        }

        #calculate-shipping-select {
           -webkit-appearance: none;
           -moz-appearance: none;
           background: transparent;
           background-image: url('data:image/svg+xml,<svg width="35px" height="12px" viewBox="0 -4.5 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="%23000000" transform="rotate(180)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>arrow_up [%23340]</title><desc>Created with Sketch.</desc><defs></defs><g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Dribbble-Light-Preview" transform="translate(-140.000000, -6683.000000)" fill="%23000000"><g id="icons" transform="translate(56.000000, 160.000000)"><path d="M84,6532.61035 L85.4053672,6534 L94.0131154,6525.73862 L94.9311945,6526.61986 L94.9261501,6526.61502 L102.573446,6533.95545 L104,6532.58614 C101.8864,6530.55736 95.9854722,6524.89321 94.0131154,6523 C92.5472155,6524.40611 93.9757869,6523.03486 84,6532.61035" id="arrow_up-[%23340]"></path></g></g></g></g></svg>');
           background-repeat: no-repeat;
           background-position-x: 99%;
           background-position-y: 50%;
           background-color: #EFEFEF;
           height: 48px;
        }

        .calculate-shipping__input{
            input {
                margin-top: 5px;
                height: 48px;
            }
        }

        .calculate__btn {
            text-decoration: underline;
            font-size: 12px;
            letter-spacing: 0.84px;
            line-height: 1.5em;
            font-weight: 600;
            padding: 12px 0;
            display: inline-block;
        }
    }
}

/* Ask An Expert Form */
.custom-ask-an-expert {
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        background: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
        background: #a6a6a6;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #787878;
    }

    .modal-body {
        padding: 15px 30px 0 30px;
        overflow: unset;
        margin: 12px auto 0 auto;
        max-width: 100%;

        .custom-ask-an-expert-heading {
            font-size: $fontSize-root;
            font-weight: $fontWeight-semibold;
            color: $color-textBase;
            letter-spacing: $letterSpacing-base;
            line-height: 24px;
            text-align: center;
            margin: 0;
            text-transform: unset;
            padding: 4px 30px;
        }

        .custom-ask-an-expert-text {
            font-size: $fontSize-root;
            font-weight: $fontWeight-normal;
            color: $color-textBase;
            letter-spacing: $letterSpacing-base;
            line-height: 24px;
            text-align: center;
            margin-bottom: 28px;
        }

        .custom-ask-an-expert-intro {
            font-size: $fontSize-root;
            font-weight: $fontWeight-normal;
            color: $color-textBase;
            letter-spacing: $letterSpacing-base;
            line-height: 24px;
            text-align: center;
            margin-bottom: 0
        }

        .custom-line {
            display: block;
            width: 100%;
            max-width: 500px;
            height: 1px;
            background: #ff5100;
            margin: 0 auto;
            position: relative;
            text-align: center;
            font-size: 0px;
            margin-bottom: 20px;
        }

        #custom-ask-an-expert-results {
            margin-bottom: 22px;
        }
    }


    .alertBox {
        font-size: $fontSize-root;
        margin: 20px 0 40px;
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    .alertBox-message {
        display: inherit;
        text-align: center;
    }

    .form-field {
        margin-bottom: 0;

        .hiddenLabels {
            display: none;
        }

        +.form-field {
            margin-top: 15px;

            &.form-field-radio {
                margin-top: 22px;
                border-bottom: none;
                padding-bottom: 0;

                @media (max-width: 767px) {
                    .form-label {
                        &:first-child {
                            display: block;
                            margin-right: 0;
                            margin-bottom: 16px;
                        }
                    }
                }
            }
        }

        +.form-field-textarea {
            margin-top: 13px;

            .form-input {
                max-height: 136px;
                line-height: 26px;
            }
        }

        +.form-field-checkbox {
            margin-top: 21px;
        }

        &.form-field-radio .form-radio+.form-label {
            color: $color-textBase;
        }
    }

    .form-label {
        margin-bottom: 10px;
    }

    .form-input {
        font-style: normal;
        padding-left: 20px;
        padding-right: 20px;
    }

    .form-field-checkbox {
        position: relative;

        input[type="checkbox"] {
            position: absolute;
            top: 5px;
            left: 0;
            width: 14px;
            height: 14px;
            border-radius: 0;
            border: 1px solid #d0d0d0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            +.form-label {
                font-size: $fontSize-root;
                font-weight: $fontWeight-normal;
                color: $color-textSecondary;
                padding-left: 25px;
                margin-bottom: 0;
                position: relative;
            }

            &:checked {
                background: $check-pip-backgroundImage;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }

        .link {
            border-bottom: 1px solid $color-textLink;
            color: $color-textLink;
        }
    }

    .form-field-radio {
        padding-top: 0;
    }

    .form-actions {
        text-align: center;
        margin-top: 25px;

        .button {
            width: 100%;
            margin-bottom: 60px;
        }
    }

    @media (min-width: 992px) {
        .modal-body {
            padding-left: 0;
            padding-right: 0;
            max-width: 500px;
        }
    }
}

/* Technical Sheet */
.technical-sheet__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 15px;
    top: 50px;

    @media (max-width: 1024px) and (min-width: 768px){
        top: -10%;
    }

    @media (max-width: 767px) {
        top: -10%;
        right: 0%;
    }

    @media (max-width: 450px) {
        top: -14%;
    }

    .technical-sheet__item {
        max-width: 130px;
        position: relative;

        @media (max-width: 767px) {
            max-width: 81px;
        }

        &:hover {
            .technical-sheet__link {
                color: #ff5100;
            }
        }

        &:hover {
            &:after {
                content: "";
                width: 20px;
                height: 20px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(50%, -50%);
                background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M10 2H12H14C14.5523 2 15 2.44771 15 3V13L19 14L12 22L5 14L9 13V3C9 2.44772 9.44772 2 10 2Z" stroke="%23000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>');
            }
        }
        
        &:nth-child(3):hover {
            &:after {
                content: unset;
            }
        }

        .technical-sheet__link {
            display:flex;
            align-items:center;
            justify-content:center;
            flex-direction:column;
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0;

            @media (max-width: 767px) {
                font-size: 10px;
                line-height: 16px;
            }

            img {
                max-width: 42px;
                max-height: 60px;
                margin-bottom: 8px;
            }
        }

        + .technical-sheet__item {
            margin-top: 18px;
        }

        &.technical-sheet__item--certificate {
            .technical-sheet__link {
                img {
                    max-width: 64px;
                    max-height: 63px;
                }
            }
        }
    }
}

/* Ask An Expert */
.productView-askAnExpert {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.5em;
    color: #232323;
    letter-spacing: 0.84;
    margin-top: 13px;

    img {
        max-width: 37px;
        max-height: 30px;
        margin-right: 6px;
    }

    .productView-askAnExpert-link {
        font-weight: bold;
        text-decoration: underline;
        display: inline-block;
        margin-left: 3px;
    }
}

#tab-related {
    margin-top: 55px;
    padding-bottom: 50px;

    @media (max-width: 767px) {
        margin-top: 0;
        padding-top: 0;

        > .container {
            padding: 0;
        }

        h5 {
            margin-top: 10px;
        }
    }
    .productCarousel {
        margin: 0;
    }

    .productCarousel-slide {
        padding-left: 8px;
        padding-right: 8px;

        @media (min-width: 1025px) {
            .card {
                padding-top:3px;

                .card-title {
                    line-height: 1.2em;

                    > a {
                        line-height: 1.2em;
                        color: #232323;
                    }
                }

                .price-section{
                    line-height: 1.2em;
                    .price {
                        line-height: 1.2em;
                    }
                }

                .card-body {
                    .btn {
                        margin-top: 4px;
                    }
                }
            }
        }
    }

    .slick-list {
        margin-left: -8px;
        margin-right: -8px;
    }

    .btn {
        @media (max-width: 767px) {
            min-width: unset;
        }
    }
}

/* Review Tabs */
.icon--ratingFull svg {
    fill: #ff5100;
    stroke: #ff5100;
    stroke-width: 1.5px;
}

.icon--ratingEmpty svg {
    fill: transparent;
    stroke: #000000;
    stroke-width: 1.5px;
}

.productView-details {
    .productView-reviewLink {
        display: none;
    }
}

.reviewChart__list {
    max-width: 345px;

    .reviewChart__item {
        span {
            font-size: 12px;
            color: #232323;
            line-height: 18px;
            letter-spacing: 0.84px;
            font-weight: normal;
        }

        .item-star {
            width: 55px;
            display: inline-block;
        }

        .item-progress {
            flex: 1;
            background-color: #EEEEEE;
            display: block;
            width: 100%;
            height: 15px;
            position: relative;

            .process-percent {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                background-color: #000000;
                width: 0%;
            }
        }

        .item-count {
            width: 40px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        + .reviewChart__item {
            margin-top: 18px;
        }
    }
}

.custom-productReviews {
    border-top: none;
    margin-top: 30px;
    margin-bottom: 0 !important;

    .toggle-title {
        display: none;
    }

    .toggle-content {
        display: block !important;
    }

    .productReviews-list {
        display: flex;
        flex-direction: column;

        .productReview-date {
            font-size: 12px;
            color: #232323;
            letter-spacing: 0.84px;
            line-height: 18px;
            font-weight: 400;
            margin-bottom: 0;
        }

        .productReview-title {
            font-size: 12px;
            color: #232323;
            letter-spacing: 0.84px;
            line-height: 18px;
            font-weight: bold;
        }

        .productReview-body {
            font-size: 12px;
            color: #232323;
            letter-spacing: 0.84px;
            line-height: 18px;
            font-weight: 400;
        }

        .productReview {
            width: 100%;
        }
    }
}

.review-button-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
    padding-top: 12px;

    .btn + .btn {
        margin-top: 10px;
    }
}

/* Change Quick View Product Page */
.page-type-product {
    #modal {
        @media (min-width: 1025px) {
            max-width: 900px;
        }
    }
    #modal-content {
        .modal-body {
            &.quickView {
                max-width: 100%;
    
                .productView {
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;

                    .productView-images {
                        width: 100%;
                    }
                }
            }
        }
    }
}
