<div class="custom-product-tabs">
    <div class="custom-tab-content" id="tab-shipping">
        <div class="custom-toggle-title">
            <a class="custom-toggleLink" href="#tab-shipping">
                <span class="text">Calculate Shipping Price</span>
                <span class="icon-plus"></span>
            </a>
        </div>

        <div class="custom-toggle-content" id="tab-shipping">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate dolores enim debitis perferendis repellat nesciunt officiis doloribus, neque, nulla inventore blanditiis dolore a fuga eligendi modi incidunt amet non libero.
        </div>
    </div>

    <div class="custom-tab-content" id="tab-review">
        <div class="custom-toggle-title">
            <a class="custom-toggleLink" href="#tab-review">
                <span class="text">Reviews</span>
                <span class="icon-plus"></span>
            </a>
        </div>

        <div class="custom-toggle-content" id="tab-review">
           Review Content
        </div>
    </div>

    <div class="custom-tab-content" id="tab-description">
        <div class="custom-toggle-title">
            <a class="custom-toggleLink" href="#tab-description">
                <span class="text">Descriptions</span>
                <span class="icon-plus"></span>
            </a>
        </div>

        <div class="custom-toggle-content" id="tab-description">
           {{{desc}}}
        </div>
    </div>

    <div class="custom-tab-content" id="tab-technical">
        <div class="custom-toggle-title">
            <a class="custom-toggleLink" href="#tab-technical">
                <span class="text">Technical Information</span>
                <span class="icon-plus"></span>
            </a>
        </div>

        <div class="custom-toggle-content" id="tab-technical">
            Technical Information Content
        </div>
    </div>
</div>