<div class="technical-sheet__list">
    <div class="technical-sheet__item">
        <a href="#" class="technical-sheet__link">
            <img src="https://cdn11.bigcommerce.com/s-gr2r925k9d/images/stencil/original/image-manager/safety-sheet.png" alt="Safety Sheet">
            <span>SAFETY SHEEETS</span>
        </a>
    </div>
    <div class="technical-sheet__item">
        <a href="#" class="technical-sheet__link">
            <img src="https://cdn11.bigcommerce.com/s-gr2r925k9d/images/stencil/original/image-manager/tech-sheet.png" alt="Tech Sheet">
            <span>TECHNICAL DATA SHEEETS</span>
        </a>
    </div>
    <div class="technical-sheet__item">
        <a href="#" class="technical-sheet__link">
            <img src="https://cdn11.bigcommerce.com/s-gr2r925k9d/images/stencil/original/image-manager/iso-certified.png" alt="Certified Company">
        </a>
    </div>
</div>