<section class="custom-section-below-carousel bg-main custom-animation" data-step-animate="1">
    <div class="container container-main">
        <div class="section-below-carouse__wrapper flex-between">
            <h3 class="heading-h3 title">GREASE FINDER</h3>
            <span class="separate"></span>
            <p class="desc section-text-14">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Ut enim ad .</p>
            <a href="#" class="btn btn-large btn-primary grease-finder-button">
                Grease Finder
                <img src="https://cdn11.bigcommerce.com/s-gr2r925k9d/images/stencil/original/image-manager/grease-finder-sml.png" alt="Grease Finder">
            </a>
        </div>
    </div>
</section>