<section class="custom-section-below-carousel bg-main custom-animation" data-step-animate="1">
    <div class="container container-main">
        <div class="section-below-carouse__wrapper flex-between">
            <h3 class="heading-h3 title">GREASE FINDER</h3>
            <span class="separate"></span>
            <p class="desc section-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore Ut enim ad .</p>
            <a href="#" class="btn btn-large btn-primary">Grease Finder</a>
        </div>
    </div>
</section>