<section class="bg-main custom-banner-button-text">
    <div class="container container-main">
        <h2 class="heading-h2 uppercase color-body text-center fw-700">Free Technical Audit</h2>
        <p class="section-desc color-white text-center">
            Our technical team can offer application specific recommendations based on your individual requirements
        </p>
        <div class="flex-center">
            <a href="#" class="btn btn-primary">FIND OUT MORE</a>
        </div>
    </div>
</section>